.module.slides
	.pwrap
		.preview.pleft#navlink(data-pathname="approach")
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					img(src="/_img/mock/lbrowser.jpg")
				.browser.stack.stackb
					img(src="/_img/mock/lbrowser.jpg")
				.browser.stack.stackc
					img(src="/_img/mock/lbrowser.jpg")
				.browser.stack.stackd
					img(src="/_img/mock/lbrowser.jpg")
				.browser.under
					img(src="/_img/mock/lbrowser.jpg")
		.info.more.iright
			h2 The core pillars of our approach
			p.small We combine evidence-based innovation & traditional methods to create recovery maintence models that work for anyone.
			a.button#navlink(data-pathname="approach") Our Approach