.module.slides
	.pwrap
		.preview.pleft#navlink(data-pathname="approach")
			.multibrowser.cycle.stepa
				.browser.stack.stacka.small
					img(src="/_img/pics/1.jpg")
				.browser.stack.stackb.small
					img(src="/_img/pics/2.jpg")
				.browser.stack.stackc.small
					img(src="/_img/pics/3.jpg")
				.browser.stack.stackd.small
					img(src="/_img/pics/4.jpg")
				.browser.under.small
					img(src="/_img/pics/5.jpg")
		.info.more.iright
			h2 The core pillars of our approach
			p.small We combine evidence-based innovation & traditional methods to create recovery maintence models that work for anyone.
			a.button#navlink(data-pathname="approach") Our Approach