.module.triphone
	.pwrap.wide
		.preview.pleft#navlink(data-pathname="/addicaid-temp")
			.multiphone
				.phone.stack.stacka
					.top
						.camera
							span
						.speaker
							span
					span
						img(src="/_img/mock/mock-mobile.jpg")
					.bottom
						div
							span
				.phone.stack.stackb
					.top
						.camera
							span
						.speaker
							span
					span
						img(src="/_img/mock/mock-mobile.jpg")
					.bottom
						div
							span
				.phone.stack.stackc
					.top
						.camera
							span
						.speaker
							span
					span
						img(src="/_img/mock/mock-mobile.jpg")
					.bottom
						div
							span
				.phone.under
					.top
						.camera
							span
						.speaker
							span
					span
						img(src="/_img/mock/mock-mobile.jpg")
					.bottom
						div
							span
		.info.more.iright
			h6 For Individuals
			h2 Personal Development Program
			p.small Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter what your direction is.
			a.button#navlink(data-pathname="/addicaid-temp") Need Help?
