

.module.l15.triphone.mb50
	.pwrap.wide
		img(src="/_img/memberapp.png" class="second feat hex")
		.info.more.iright
			h6 For Individuals
			h2.bfwhite Personalized recovery platform
			p.small.bfwhite Community support & smart recovery activities that address the unique goals &amp; challenges every step of the way, no matter what your direction is.
			p.small.bfwhite Whether you're looking to enhance your 12-step program, learning to moderate, or seeking support for someone close to you, Addicaid's network &amp; resources are tailored to you. 
	img(src="/_img/4app.png" class="fitcon fitw" width="1200px")


include ../modules/solutions


section
	.solution-join-title
		h3.mb20.narrow.nbig Join over <bold>42,776 others</bold> who are getting and giving the help they need to live healthily, strengthen their recovery, and/or support those in need.
		div.mb10
			a(href="https://itunes.apple.com/us/app/addicaid-addiction-recovery/id847509209?mt=8").btna
				img(src="/_img/ios.svg" class="img-app")
			a(href="https://play.google.com/store/apps/details?id=com.addicaid.app&hl=en_GB").btna
				img(src="/_img/play.svg" class="img-app")
	//- img(src="/_img/mock/skew2.png" class="second")

