.module.triphone
	.pwrap.wide
		//- .preview.pleft#navlink(data-pathname="solutions")
		.preview.pleft#multiphone
			.multiphone.perspective
				.phone.stack.stacka
					.top
						.camera
							span
						.speaker
							span
					.screen
						img(src="/_img/mock/dmobile.jpg")
					.bottom
						div
							span
				.phone.stack.stackb
					.top
						.camera
							span
						.speaker
							span
					.screen
						img(src="/_img/mock/dmobile.jpg")
					.bottom
						div
							span
				.phone.stack.stackc
					.top
						.camera
							span
						.speaker
							span
					.screen
						img(src="/_img/mock/dmobile.jpg")
					.bottom
						div
							span
				.phone.under
					.top
						.camera
							span
						.speaker
							span
					.screen
						img(src="/_img/mock/dmobile.jpg")
					.bottom
						div
							span
		.info.more.iright
			h6 For <b>Individuals</b>
			h2 Personal Development Program
			p Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter your direction.
			//- a.button#navlink(data-pathname="solutions") Need Help?
			a.button#multiphone Need Help?
