

section

	.cwrap.cleft
		img(src="/_img/mock/nbapp.jpg" class="rel r r0")
		.point.relup.bfwhite.pt0.w60.relup
			h5.lead.strong.p00 Help yourself</b>
			h3.flexfont.bfwhite The app is free &amp; will always be. If you sign up now, you'll get <span class="line" style="display: inline">total access to the upcoming Addicaid Plus.</span>
			


			p.small.narrow.bfwhite Get community support &amp; smart recovery activities that address the unique goals &amp; challenges every step of the way, no matter what your direction is.
			a(href="https://itunes.apple.com/us/app/addicaid-addiction-recovery/id847509209?mt=8").btna
				img(src="/_img/ios.svg" class="img-app sm")
			a(href="https://play.google.com/store/apps/details?id=com.addicaid.app&hl=en_GB").btna
				img(src="/_img/play.svg" class="img-app sm")		

			//- a.btn.centerma.bblue#navlink(data-pathname="solutions") see the solutions
