.module
	.pwrap.wide
		//- .preview.pright#navlink(data-pathname="providers")
		.preview.pright#multiplatform
			.multiplatform.perspective
				.phone.left
					.top
						.camera
							span
						.speaker
							span
					.screen
						img(src="/_img/mock/mobile-04.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span addicaid.com
					img(src="/_img/mock/browser-02.jpg")
		.info.more.ileft
			h6 For Healthcare <b>Providers</b>
			h2 Client Engagement Platform
			p Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter what your direction is.
			a.button#navlink(data-pathname="providers") Helping Others?