.module
	.pwrap.wide
		.preview.pright#navlink(data-pathname="providers")
			.phone.left
				.top
					.camera
						span
					.speaker
						span
				span
					img(src="/_img/mock/moblemock.png")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span addicaid.com
				img(src="/_img/mock/provider_h.jpg")
		.info.more.ileft
			h6 For Healthcare Providers
			h2 Client Engagement Platform
			p.small Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter what your direction is.
			a.button#navlink(data-pathname="providers") Helping Others?