.module
	.pwrap.wide
		.preview.pright#navlink(data-pathname="providers")
			.phone.left
				.top
					.camera
						span
					.speaker
						span
				.screen
					img(src="/_img/mock/dmobile.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span addicaid.com
				img(src="/_img/mock/dbrowser.jpg")
		.info.more.ileft
			h6 For <b>Healthcare Providers</b>
			h2 Client Engagement Platform
			p Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter what your direction is.
			a.button#navlink(data-pathname="providers") Helping Others?