.module.l15
	.pwrap.wide
		.preview.pright#navlink(data-pathname="providers")
			img(src="/_img/mock/provider_h.png" class="third feat")
		.info.more.ileft
			h6 For providers
			h2 Client Engagement Platform
			p.small Enhance your delivery of care &amp; manage population health with our completely customizable client engagement platform. Our system is built to address the unique needs of different healthcare stewards. From the therapist with 30 clients a week to healthcare systems serving populations the size of small nations, Addicaid's platform is built to handle your assessments, metrics, and members. 
			a(href="mailto:info@addicaid.com", target="_blank" class="btn mt20") Email us to work with us.
img(src="/_img/mock/clientep.png"  class="fitcon" width="1200px")
include ../modules/solution2