.cwrap.cleft
	.point
		h5.lead Interventions for when people worsen
		//- ugh that is terrible writing
		h2 Meeting people <span class="block c-white">where they are</span> in their well-being.
		p.small.narrow We achieve this by analyzing high-level trends to deliver care to those who need it most while leveraging adaptive AI based on self-reported and biometric data that makes our digital recovery program dynamic. Addicaid’s recovery programs are constantly learning how to cater better to different disorder profiles and progress. 
		h6 Do you know or work with anyone who needs help?
		a.button#navlink(data-pathname="solutions") Join the network
		img(src="/_img/pics/provider-s.jpg" class="abso r")
		img(src="/_img/mock/milestone.png" class="abso r" style="top:40%")

.cwrap.cleft
	.point
		h5.lead Engage anyone who thinks addiction where they are
		h2 Orienting and educating <span class="line">communities</span> on risks and relevant sources 
		p.small This full-service student life resource will support, educate, and improve their college experience socially, academically, and personally. It’s accessible, around-the-clock support that’s judgement-free and caters to <b>students, staff &amp; faculty.</b>
		img(src="/_img/pics/escy.jpeg" class="abso r")
		img(src="/_img/mock/news.png" class="abso r" style="top:40%")