.cwrap.cleft.modulebg
	.point
		h5.lead Addicaid is <b>anyone&rsquo;s aid</b>
		h2 We attack the epidemic from all angles with a <span class="block">suite of solutions</span><br> for <span class="line">people & providers.</span>
		p.small.narrow Our solution is to get to the bottom of why people don&rsquo;t get help and don&rsquo;t stay healthy and empower those who provide care with the best tools and technology to expand and enhance the delivery of care.
		a.button#navlink(data-pathname="solutions") Our Solutions
	.module
		.pwrap
			.preview.pright
				.multibrowser.cycle.stepa
					.browser.stack.stacka
						.top
							ul
								li
								li
								li
							span addicaid.com
						img(src="/_img/mock/mock-browser.jpg")
					.browser.stack.stackb
						.top
							ul
								li
								li
								li
							span addicaid.com
						img(src="/_img/mock/mock-browser.jpg")
					.browser.stack.stackc
						.top
							ul
								li
								li
								li
							span addicaid.com
						img(src="/_img/mock/mock-browser.jpg")
					.browser.stack.stackd
						.top
							ul
								li
								li
								li
							span addicaid.com
						img(src="/_img/mock/mock-browser.jpg")
					.browser.under
						.top
							ul
								li
								li
								li
							span addicaid.com
						img(src="/_img/mock/mock-browser.jpg")
