//- .cwrap.cleft
//-     .point
//-         h5.lead Interventions for when people worsen
//-         //- ugh that is terrible writing
//-         h2 Meeting people <span class="block c-white">where they are</span> in their well-being.
//-         p.small.narrow We achieve this by analyzing high-level trends to deliver care to those who need it most while leveraging adaptive AI based on self-reported and biometric data that makes our digital recovery program dynamic. Addicaid’s recovery programs are constantly learning how to cater better to different disorder profiles and progress.
//-         h6 Do you know or work with anyone who needs help?
//-         a.button#navlink(data-pathname="solutions") Join the network
//-         img(src="/_img/pics/provider-s.jpg" class="abso r")
//-         img(src="/_img/mock/milestone.png" class="abso r" style="top:40%")
//- .module.triphone
//-     .pwrap.wide
//-         img(src="/_img/mock/sp1.jpg" class="second")

//-         .info.more.iright
//-             h6 For Individuals
//-             h2 Personalized recovery platform
//-             p.small Community support & smart recovery activities that address the unique goals & challenges every step of the way, no matter what your direction is.

//- .solution-join-title
//-     h4.mb20 Join 31,442 others who are getting and giving the help they need to live healthily.
//- div.downloads.mb0
//-             a(href="https://itunes.apple.com/us/app/addicaid-addiction-recovery/id847509209?mt=8").btna
//-                 img(src="/_img/ios.svg" class="img-app")
//-             a(href="https://play.google.com/store/apps/details?id=com.addicaid.app&hl=en_GB").btna
//-                 img(src="/_img/play.svg" class="img-app")
//- .cwrap.cleft
//-     h5.lead Engage anyone who thinks addiction where they are
//-     h2 Orienting and educating <span class="line">communities</span> on risks and relevant sources
//-     p.small This full-service student life resource will support, educate, and improve their college experience socially, academically, and personally. It’s accessible, around-the-clock support that’s judgement-free and caters to <b>students, staff &amp;faculty.</b>
//-     //img(src="/_img/pix/ppl.jpg" class="abso r")
//-     //img(src="/_img/mock/news.png" class="abso r" style="top:40%")
section.content.cases
    .head.solution-title.mb0
        h5 real reviews
    .center.pant1.container1
        div.four.person.wplus
            h3.header.mb0.rev 
                <span class="line lg">The best recovery app I've come across!</span>
            h6.title

        div.four.person
            h3.header.mb0.rev
                <span class="line lg">Makes this change in life a lot easier for me.</span>
            h6.title

        div.four.person
            h3.header.mb0.rev
                <span class="line lg">Helping me make better decisions in a new, creative way.</span>
            h6.title

        div.four.person
            h3.header.mb0.rev
                <span class="line lg">I’m living better because of Addicaid.</span> 
            //- p.body general specialist in design technology, systems science
            h6.title


h5.lead.strong Addicaid's recovery program is good if you're...
section.cases
            .module.dib
                .info.more.fl
                    div.mask.overlay
                        img(src="/_img/12step.jpg" width="100%" class="left szoom")
                        h5.tag.abs Going to meetings / working the steps
                    p.norm From AA, NA, PA, OA, CA, DA, ZA all the way to Harm Reduction and SMART recovery, we have the ultimate support group directory.
                    
            .module.dib
                
                .info.more.fl
                    
                    div.mask.overlay
                        img(src="/_img/balance.jpg" width="100%" class="left szoom")
                    h5.tag.abs Making your own recovery recipe
                    p.norm Whatever your unique blend of self-destructive behaviors &amp; bad decisions calls for, Addicaid's program has at least basic ingredients your psychology craves. 
                   
            .module.dib
                
                .info.more.fl
                    div.mask.overlay
                        img(src="/_img/cycle.jpg" width="100%" class="left szoom")
                    h5.tag.abs Looking to escape viscous cycles
                    p.norm Addicaid isn't just for drug &amp; alcohol abuse. Whatever it is you can't control, we have a custom toolbox suited to your complusions. 
                    
            .module.dib
                
                .info.more.fl
                    div.mask.overlay
                        img(src="/_img/jdog.jpg" width="100%" class="left szoom")
                    h5.tag.abs Supporting loved ones in need
                    p.norm Nearly everyone &amp; their dog is impacted by addiction. Learn how to support the people you can help &amp; cope with the realization that you can't.

