



.cwrap.cleft
	img(src="/_img/mock/mock-browser2.jpg" class="abso r r0")
	//- personalized recovery app
	.point.bfwhite.pt0.w82p
		h5.lead Addicaid is <b>anyone&rsquo;s aid</b>
		//- h2.flexfont.bfwhite We confront the <span class="line">causes, costs &amp; consequences</span> of addiction.
		h2.flexfont.bfwhite Our technology-based programs<span class="line">treat high-risk cases &amp; teach the truth</span> about addiction.
		


		p.small.narrow.bfwhite Addicaid's recovery app helps people dig through the root cause of their behavior no matter what  bottom of why people don&rsquo;t get help and don&rsquo;t stay healthy and empower those who provide care with the best tools and technology to form strong, supportive networks and recovery routines.
		p.small.narrow.mb30.bfwhite If you got a problem, it's very likely that we are building a solution (with your help and input, of course.)

		//- p.small Addicaid is an A.I-driven behavioral health ecosystem that streamlines the needs of people looking to help themselves or looking to help others with a personalized, ideologically frictionless recovery app paired with engagement solutions for any professional looking to enhance the delivery of care. 
		a.btn.centerma.left#navlink(data-pathname="solutions") see the solutions


		


	//- our 3-pronged attack addresses the causes, costs and consequences of addiction. we educate, intervene, and engage people, communities, and healthcare stewards 

