



.cwrap.cleft

	//- personalized recovery app
	.point
		h5.lead Addicaid is <b>anyone&rsquo;s aid</b>
		h2.flexfont Our 3-pronged attack addresses the <span class="line">causes, costs &amp; consequences</span> of addiction.
		p.small.narrow The solution is to get to the bottom of why people don&rsquo;t get help and don&rsquo;t stay healthy and empower those who provide care with the best tools and technology to expand and enhance the delivery of care.
		a.button#navlink(data-pathname="solutions") Our Solutions


		img(src="/_img/mock/mock-browser2.jpg" class="abso r")
		img(src="/_img/mock/3s.png" class="abso r" style="top:40%")


	//- our 3-pronged attack addresses the causes, costs and consequences of addiction. we educate, intervene, and engage people, communities, and healthcare stewards 

