nav.hide
	ul
		li.nav.nava#nava
			a.logo#home(data-scroll, data-options="speed: 0", href="#home")
				include ../components/svg/addicaid-logo
				h5 Just say <b>yes.</b>
				h5 
				//- h5 Addiction is <b>everyone's problem.</b>
		//- li.nav.navb#navc		
		//- 	a#navlink(data-pathname="about")
		//- 		span programs
		//- 		span programs
		//- li.nav.navb#navc		
		//- 	a#navlink(data-pathname="about")
		//- 		span plans
		//- 		span plans
		//- li.nav.navb#navc		
		//- 	a#navlink(data-pathname="about")
		//- 		span providers
		//- 		span providers
		//- li.nav.navb#navb
		//- 	a#navlink(data-pathname="about")
		//- 		span sponsorship
		//- 		span sponsorship
		//- li.nav.navb#navb
		//- 	a#navlink(data-pathname="about")
		//- 		span strategy
		//- 		span strategy
		li.nav.navb#navb
			a#navlink(data-pathname="about")
				span staff
				span staff
		li.nav.navb#navb
			a#navlink(data-pathname="approach")
				span steps
				span steps
		li.nav.navb#navb
			a#navlink(data-pathname="solutions")
				span solutions
				span solutions
		li.nav.navb#navb
			a#navlink(data-pathname="specials")
				span.hp0 specials
				span.hp0 specials