nav.hide
	ul
		li.nav.nava#nava
			a.logo#home(data-scroll, data-options="speed: 1000", href="#home")
				include ../components/svg/addicaid-logo
				h5 Addidction is <b>everyone's problem.</b>
				h5 Addicaid is <b>anyone's aid.</b>
		li.nav.navb#navb
			a#navlink(data-pathname="solutions")
				span Our Solutions
				span Solutions
		li.nav.navc#navc
			a#navlink(data-pathname="approach")
				span Our Approach
				span Approach
		li.nav.navd#navd
			a#navlink(data-pathname="about")
				span About Us
				span About
		li.nav.more
			a#menu(href="#menu")
				span More
				span
					.menu