

// Recent work styles
// ------------------------------------------------------------
//
	$pcolor:	#bcbab9;
	$pcolorb:	#a64c61;

	body.sub.recent {
		header {
			background: $pcolor url('/_img/projects/recent/recentbg.jpg') no-repeat;
			background-size: 100%;
			background-position: 0% 75%;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 50%, $pcolor, 100%);
				display: none;
			}
		}
		.base {
			background: $pcolor;
		}
		@media screen and (max-width: 1140px) {
			header {
				background-size: 125%;
				background-position: 65% 75%;
			}
		}
		@media screen and (max-width: 959px) {
			header {
				background-size: 150%;
			}
		}
		@media screen and (max-width: 640px) {
			header {
				background-size: 240%;
				background-position: 70% 25%;
			}
		}
	}


// Past work styles
// ------------------------------------------------------------
//
	$pcolor:	$blue-d;
	body.sub.past {
		header {
			background: $pcolor;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 65%, $pcolor, 100%);
			}
		}
		.splash {
			.vid {
				opacity: 0.5;
				video {
					background-color: $pcolor !important;
				}
			}
		}
		.base {
			background: $pcolor;
		}
		.overview {
			@include padding-x(5%);
		}
		@media screen and (max-width: 640px) {
			header {
				.title {
					h1 {
						@include lineh(4.5);
						font-size: 34px;
					}
				}
			}
		}
	}


// ThreadMeUp styles
// ------------------------------------------------------------
//
	$pcolor:	#f46272;
	body.threadmeup {
		header {
			background: $pcolor;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 75%, $pcolor, 100%);
			}
		}
		.splash {
			box-shadow: inset 0 0 12px 6px $white;
			.vid {
				video {
					background-color: $pcolor !important;
				}
			}
		}
		.base {
			background: $pcolor;
		}
	}


// Dos Toros styles
// ------------------------------------------------------------
//
	$pcolor:	$black;
	body.dostoros {
		header {
			background: $pcolor url('/_img/projects/bg.jpg') no-repeat;
			background-size: 100%;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 65%, $pcolor, 100%);
			}
		}
		.base {
			background: $pcolor;
		}
		@media screen and (max-width: 959px) {
			header {
				background-size: 150%;
				background-position: 60% 0%;
			}
		}
		@media screen and (max-width: 640px) {
			header {
				background-size: 225%;
				background-position: 65% 0%;
			}
		}
	}


// Coolhouse styles
// ------------------------------------------------------------
//
	$pcolor:	#033f64;
	body.coolhouse {
		header {
			background: $pcolor url('/_img/projects/bg.jpg') no-repeat;
			background-size: 100%;
			.logo {
				@include leader(5);
			}
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 25%, $pcolor, 95%);
			}
		}
		.base {
			background: $pcolor;
		}
		@media screen and (max-width: 640px) {
			header {
				background-size: 225%;
				background-position: 50% 0%;
				.logo {
					width: 90%;
					max-width: 300px;
					@include leader(2);
				}
			}
		}
	}

	// next
		body.sub {
			section.next.coolhouse {
				@media screen and (min-width: 641px) {
					img {
						width: 422px;
						height: 234px;
						@include leader(1.5);
					}
				}
				.peekbg {
					background: $pcolor url('/_img/projects/bg.jpg') no-repeat;
					background-size: 100%;
					background-position: 50% 35%;
				}
				@media screen and (max-width: 640px) {
					.peekbg {
						background-size: 150%;
						background-position: 50% 20%;
					}
				}
			}
		}


// HuddlePass styles
// ------------------------------------------------------------
//
	$pcolor:	#404759;
	$pcolorb:	#353a49;
	body.huddlepass {
		header {
			background: $pcolor url('/_img/projects/linesbg.png');
			@include retinaimg('/_img/projects/linesbg@2x.png', 12px, 12px);
			.fade {
				@include gradient-vert-d(rgba($pcolorb, 0), 50%, $pcolorb, 100%);
			}
		}
		.base {
			background: $pcolor;
		}
	}


// SocialCrunch styles
// ------------------------------------------------------------
//
	$pcolor:	#fff3dd;
	$pcolorb:	#fedc9e;
	$pcolorc:	#edcdc9;
	body.socialcrunch {
		header {
			@include scrunchbg;
			.bar {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 9px;
				@include scrunchbar;
				@include trans(0.25s);
			}
			.fade {
				display: none;
				@include gradient-vert-d(rgba($pcolor, 0), 75%, $pcolor, 100%);
			}
		}
		.base {
			@include scrunchbg;
		}
	}


// Life.is styles
// ------------------------------------------------------------
//
	$pcolor:	rgba(#ff1414, 0.3);
	$pcolorb:	#ffb8b8;

	body.lifeis {
		header {
			background: $white;
			.logo {
				@include leader(4);
			}
			.title {
				z-index: 4;
			}
			.fade {
				display: none;
				z-index: 3;
				@include gradient-vert-d(rgba($pcolor, 0), 30%, $pcolor, 100%);
			}
		}
		.base {
			background: $pcolorb;
		}
		.lifebg {
			position: absolute;
			z-index: 5;
			top: 100%;
			left: 0;
			right: 0;
			height: 900px;
			margin-top: -900px;
			overflow: hidden;
			@include trans(0.3s);
			img {
				position: relative;
				top: 360px;
				width: 100%;
				height: 600px;
				@include trans(0.5s);
				@include ttimingcb(0.4, 0.7, 0.4, 0.9);
				@include animatereset(0.8s);
				@include lifebgin;
			}
		}
	}
	body.lifeis {
		.lifebg {
			background: rgba(#890b0b, 0.12);
			img {
				@include tmove(0, -660px);
				height: 1200px;
			}
		}
	}
	@media screen and (max-width: 640px) {
		body.lifeis {
			header {
				.logo {
					width: 90%;
					@include leader(0);
				}
				.fade {
					display: block;
				}
			}
			.lifebg {
				img {
					display: none;
				}
			}
		}
	}


// OverDog styles
// ------------------------------------------------------------
//
	$pcolor:	#00345e;
	body.overdog {
		header {
			background: $pcolor;
			.fade {
				display: none;
			}
		}
		.base {
			background: $pcolor;
		}
	}
	.visual.multiphone.triphone {
		.phone {
			&:nth-of-type(2) {
				z-index: 3;
			}
		}
	}

