

// Feature styles
// ------------------------------------------------------------
//
	section.feature {
		position: relative;
		z-index: 9;
		@include padding-leader(10);
		@include padding-trailer(10);
		color: $white;
		background: $featurebg;
		h5 {
			color: $white;
			&::after {
				background-color: $white;
			}
		}
		h1, h2 {
			text-shadow: 1px 2px $black-15;
		}
		p {
			text-shadow: 1px 1px $black-2;
		}
		h1 {
			min-width: 700px;
			font-weight: 500;
			// white-space: nowrap;
			strong {
				display: block;
				font-weight: 800;
			}
		}
		p {
			padding-right: 12%;
		}

		.pressquotes {
			display: block;
			position: relative;
			width: 100%;
			min-height: 360px;
			@include padding-leader(5);
			@include padding-trailer(5);
		}

		.head.alt h5 {
			color: $black-55;
			&::after {
				background-color: $black-55;
			}
		}
		.cred {
			position: relative;
			z-index: 9;
			margin: auto;
			@include padding-leader(2);
			@include padding-trailer(2);
			@include lineh(9);
			text-align: center;
			a {
				opacity: 1 !important;
				&:hover, &:focus {
					opacity: 1 !important;
				}
				&:active {
					opacity: 1 !important;
				}
			}
			li {
				display: inline-block;
				@include padding-x(30px);
				opacity: 1 !important;
				width: 50%;
			}
			img {
				width: auto;
				height: 100px;
				min-height: 100px !important;
				opacity: 1 !important;
			}
		}
	}
	.cred.team {
		li { 
		a {
			img {
				width: auto;
				height: 100px !important;
				opacity: 1 !important;
			}
		}
		}
		}

		.cred.small li a img {
				height: 60px !important;
				max-height: 60px !important;
				min-height: 60px !important;
				opacity: 1 !important;
				padding: 0px;
			}
		
// Media queries
// ------------------------------------------------------------
//
	@media screen and (min-width: 1201px) {
		section.story {
			.bio {
				width: 100%;
				max-width: 1164px;
				margin: auto;
				.point {
					margin: 0;
					@include padding-leader(3);
					@include padding-trailer(0);
				}
				h1 strong {
					display: block;
					font-weight: 800;
				}
			}
		}
	}
	@media screen and (max-width: 1200px) {
		section.skills {
			@include padding-trailer(10);
			br {
				display: none;
			}
		}
		section.story {
			.bio {
				h1 {
					min-width: 0;
					white-space: normal;
				}
				p {
					display: block;
					width: 100%;
					padding-right: 0;
				}
			}
			.photo {
				display: none;
			}
			br {
				display: none;
			}
		}
	}
	@media screen and (max-width: 959px) {
		section.skills {
			background: $featurebg;
			.fade {
				display: none;
			}
		}
	}
	@media screen and (max-width: 640px) {
		section.skills {
			@include padding-trailer(5);
		}
		section.story {
			@include padding-trailer(8.5);
			.bio {
				@include trailer(0);
				.point {
					@include padding-trailer(1);
				}
			}
			.cred {
				@include padding-leader(3);
				@include lineh(4.5);
				li {
					@include padding-x(12px);
					&:last-of-type {
						display: none;
					}
				}
				img {
					@include tscale(0.8);
				}
			}
		}
	}
	@media screen and (max-width: 420px) {
		section.skills {
			@include padding-trailer(5);
		}
		section.story {
			@include padding-trailer(7.5);
			.cred {
				// @include padding-leader(3);
				@include lineh(3);
				li {
					@include padding-x(6px);
					&:nth-of-type(7) {
						display: none;
					}
				}
				img {
					@include tscale(0.7);
				}
			}
		}
	}
