

// Header styles
// ------------------------------------------------------------
//
	header {
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		min-width: 320px;
		max-width: $max-width;
		overflow: hidden;
		@include trans(0.45s);
		@extend .timingcb1;
		* { @extend .timingcb1; }
		img {
			@include noselect;
		}
		.wrap {
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 1440px;
			height: 100%;
			margin: auto;
			@include trans(0.3s);
		}
	}
	.push {
		position: relative;
		z-index: -1;
	}
	header, .push {
		height: 100%;
	}

	body.home {
		header {
			.wrap {
				@include torigin(25% 50%);
			}
		}
		.push {
			height: 100%;
		}
		.push.reveal {
			@include animate(0.6s);
			@include reveal;
		}
	}


// Tagline styles
// ------------------------------------------------------------
//
	.tagline {
		position: relative;
		z-index: 2;
		display: inline-block;
		width: 100%;
		height: 85%;
		@include animatereset(0.8s, 0.8s);
		@include fadeinup;
		> span {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
		}
		h1 {
			display: inline-block;
			@include leader(0.5);
			margin-left: -2%;
			@include padding-x(2%);
			white-space: nowrap;
			background: $primary;
			color: $white;
			@include torigin(25% 50%);
			@include trans(0.3s);
			@include fadeindown;
			&:nth-of-type(1) {
				@include animatereset(0.8s*1.5, 1s*1.5);
			}
			&:nth-of-type(2) {
				@include animatereset(0.65s*1.5, 1.15s*1.5);
			}
			&:nth-of-type(3) {
				@include animatereset(0.5s*1.5, 1.3s*1.5);
			}
		}
	}
//
	// @media screen and (min-width: 960px) {
	// 	body.fold {
	// 		.wrap {
	// 			@include tscale(0.92);
	// 		}
	// 		.tagline {
	// 			>span {
	// 				@include trans(0.3s);
	// 				h1:nth-of-type(1) {
	// 					@include tmove(-24px, -42px*1.5);
	// 				}
	// 				h1:nth-of-type(2) {
	// 					@include tmovescale(0.96, -42px, -33px*1.5);
	// 				}
	// 				h1:nth-of-type(3) {
	// 					@include tmovescale(0.92, -56px, -24px*1.5);
	// 				}
	// 			}
	// 		}
	// 	}
	// }


// Cover styles
// ------------------------------------------------------------
//
	section.bridge {
		z-index: 0;
		height: 100vh;
		overflow: visible;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			height: 120%;
			@include gradient-vert-d($white-0, 0%, $white, 75%);
		}
		.cover {
			position: absolute;
			top: -80%;
			left: 0;
			right: 0;
			z-index: 1;
			img {
				position: relative;
				width: 100%;
				// height: 120%;
			}
		}
		.point {
			@include padding-leader(15);
			@include padding-trailer(1);
			// @include tmove(0, 180px);
		}
	}


// Media queries
// ------------------------------------------------------------
//
	@media screen and (min-width: $max-width+1) {
		header {
			.wrap {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 959px) {
		body.home {
			header {
				.wrap {
					@include torigin(50% 50%);
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		header, .push {
			height: 100%;
		}
		body.home {
			header, .push {
				.wrap {
					@include torigin(70% 50%);
				}
			}
		}
	}
	@media screen and (max-width: 420px) {
		header {
			.wrap {
				width: 100%;
			}
		}
		body.home {
			header {
				.wrap {
					@include torigin(100% 50%);
				}
			}
		}
	}
