

// Navigation styles
// ------------------------------------------------------------
//
	nav {
		position: fixed;
		z-index: 99;
		width: 100%;
		min-width: 320px;
		max-width: $max-width;
		height: 120px;
		text-align: right;
		fill: $white;
		color: $white;
		@include gradient-vert($black-0, $black-0);
		@include noselect;
		@include animate(0.4s);
		@include trans(0.4s);
		@extend .timingcb2;
		* { @extend .timingcb2; }
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0;
			background: rgba($bodybg, 0.925);
			@include trans(0.4s);
		}
		ul {
			width: 100%;
			margin: auto;
			white-space: nowrap;
			@include trans(0.4s);
			@include reset;
		}
		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			@include margin-x(30px);
			text-align: center;
			@include trans(0.4s);
			@include fadeindown;
			&:nth-of-type(2) {
				@include animate(0.55s, 1s);
			}
			&:nth-of-type(3) {
				@include animate(0.65s, 1.05s);
			}
			&:nth-of-type(4) {
				@include animate(0.75s, 1.1s);
			}
			&:nth-of-type(5) {
				@include animate(0.85s, 1.15s);
			}
			&:nth-of-type(6) {
				@include animate(0.9s, 1.1825s);
			}
		}
		li.active {
			a {
				fill: $white;
				color: $white;
				&:hover {
					@include treset;
				}
			}
		}
		li.disabled {
			a {
				fill: $white-5;
				color: $white-5;
				&:hover, &:active {
					@include treset;
				}
			}
		}
		li.more {
			margin-left: 48px;
			a {
				width: 42px;
				&::after {
					display: none;
				}
				&:hover {
					@include treset;
				}
				span:first-of-type {
					opacity: 0;
				}
				span:last-of-type {
					position: absolute;
					bottom: 0px;
					left: -10%;
					width: 120%;
					height: 42px;
					margin: 0;
				}
			}
			.menu, .menu::before, .menu::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 5px;
				border-radius: 1.5px;
				box-shadow: 0px 2px 8px 2px $black-1;	
				@include gradient-hor(lighten($primary-ll, 5%), lighten($primary-ll, 20%))
				@include trans(0.4s);
			}
			.menu {
				top: 50%;
				margin-top: -2.5px;
				&::before {
					top: -14px;
				}
				&::after {
					top: 14px;
				}
			}
		}
		a {
			display: block;
			position: relative;
			height: 120px;
			@include padding-leader(5.75);
			@extend .caps;
			letter-spacing: 0.07em;
			fill: $white;
			color: $white;
			text-decoration: none;
			font-size: 18px;
			&::after {
				content: '';
				position: absolute;
				z-index: -1;
				bottom: 3px;
				left: -2.5%;
				width: 0px;
				height: 6px;
				border-radius: 2px;
				@include gradient-hor(lighten($primary-ll, 0%), lighten($primary-ll, 10%))
				box-shadow: 0px 2px 9px $black-1;
				@include trans(0.4s);
			}
			span:first-of-type {
				height: 60px;
				@include lineh(5);
			}
			&:hover {
				fill: $white;
				color: $white;
				@include tmove(0, -3px);
				&::after {
					width: 108%;
					@include tmove(0, 3px);
					@include trans(0.4s);
				}
			}
			&:active {
				fill: $white;
				color: $white;
				@include treset;
			}
			@include trans(0.4s);
		}
		li.navb, li.navc, li.navd {
			span:last-of-type {
				display: none;
			}
		}

	// addicaid logo link
		li.nava {
			position: absolute;
			top: 0;
			left: 5%;
			width: 240px;
			margin: 0;
			cursor: pointer;
			@include trans(0.4s);
			@include animatereset(0.35s, 1s);
			@include fadeindown;
			a {
				width: 100%;
				@include padding-leader(4.5);
				fill: $white;
				color: $white;
				text-transform: none;
				font-weight: 200;
				b {
					font-weight: 700;
				}
				&::after {
					content: '';
					position: absolute;
					bottom: -3px;
					left: -4%;
					z-index: -1;
					width: 102%;
					height: 18px;
					border-radius: 2px;
					// @include gradient-hor(lighten($primary-ll, 0%), lighten($primary-ll, 10%))
					@include gradient-hor(lighten($secondary, 0%), lighten($secondary, 20%))
					box-shadow: 0px 3px 15px $black-08;	
					@include animatereset(0.35s, 1.2s);
					@include lineinleft;
				}
				&:hover {
					&::after {
						width: 138%;
						@include tmove(0, 0px);
					}
				}
			}
			h5 {
				position: absolute;
				top: 100%;
				left: 0px;
				@include padding-leader(0.75);
				font-weight: 400;
				opacity: 0;
				@include tmove(0, -18px);
				@include trans(0.4s);
				&:last-of-type {
					top: 100%;
					@include padding-leader(3.25);
					@include tmove(0, -36px);
					@include trans(0.4s);
				}
			}
		}
		li.nava.full {
			a {
				&:hover {
					@include treset;
				}
			}
			&:hover, &.hover {
				@include trans(0.4s);
				a {
					&::after {
						width: 140%;
						@include tmove(0, 0px);
					}
				}
				h5 {
					@include treset;
					@include trans(0.4s, 0.06s);
					&:last-of-type {
						@include trans(0.4s);
					}
				}
			}
		}
	}

// sticky state
	nav.sticky {
		z-index: 95;
		@include gradient-vert($black-2, $black-0);
		&::before {
			height: 60px;
			background: $white-9;
		}
		a {
			height: 60px;
			@include padding-leader(0.25);
			fill: $black-4;
			color: $black-4;
			font-size: 16px;
			&::after {
				bottom: 0;
				height: 4px;
				background: $black-4;
				box-shadow: none;
				@include treset;
				@include trans(0.4s);
			}
			&:hover {
				fill: $black-5;
				color: $black-5;
				@include treset;
			}
		}
		li.active {
			a {
				fill: $featurebg;
				color: $featurebg;
				&:hover {
					@include treset;
				}
			}
		}
		li.nava {
			width: 192px;
			a {
				height: 60px;
				@include padding-leader(1);
				fill: $featurebg;
				color: $featurebg;
				&::after {
					left: -6%;
					bottom: -10px;
					width: 108%;
					height: 18px;
					@include gradient-hor($light, $white);
					box-shadow: 0px 2px 9px 1px $black-1;
				}
				&::after {
					left: -8%;
					bottom: -12px;
					width: 110%;
					height: 18px;
					@include gradient-hor(lighten($primary-ll, 0%), lighten($primary-ll, 10%))
					box-shadow: 0px 2px 9px 1px $black-1;
				}
				&:hover, &.hover {
					&::after {
						width: 180%;
					}
				}
			}
			h5 {
				@include padding-leader(1.5);
				color: $featurebg;
				@include tmove(0, -15px);
				&:last-of-type {
					@include padding-leader(4);
					@include tmove(0, -30px);
				}
			}
		}
		li.nava.full {
			&:hover, &.hover {
				a {
					&::after {
						width: 180%;
					}	
				}
				h5 {
					@include treset;
					@include trans(0.4s, 0.06s);
					&:last-of-type {
						@include trans(0.4s);
					}
				}
			}
		}
		li.more {
			width: 42px;
			padding: 0;
			a {
				color: $black-4;
				span:last-of-type {
					bottom: 0;
					left: 0;
					width: 100%;
					height: 44px;
				}
			}
			.menu, .menu::before, .menu::after {
				height: 4px;
				background: $black-4;
				box-shadow: 0px 2px 8px 2px $black-0;
			}
			.menu {
				top: 15px;
				&::before {
					top: -12px;
				}
				&::after {
					top: 12px;
				}
			}
		}
	}
	nav.featurebg {
		@include gradient-vert($black-2, $black-0);
		&::before {
			background: rgba($featurebg, 0.85);
		}
		a {
			fill: $white-8;
			color: $white-8;
			&::after {
				background: $white-9;
			}
			&:hover {
				fill: $white-9;
				color: $white-9;
			}
		}
		li.active {
			a {
				fill: $white;
				color: $white;
				&:hover {
					@include treset;
				}
			}
		}
		li.nava {
			a, h5 {
				fill: $white;
				color: $white;
			}
			a {
				&::after {
					left: -8%;
					bottom: -12px;
					width: 110%;
					height: 18px;
					@include gradient-hor(lighten($primary-ll, 0%), lighten($primary-ll, 10%))
					box-shadow: 0px 2px 9px 1px $black-1;
				}
			}
		}
		li.more {
			a {
				color: $white-65;
			}
			.menu, .menu::before, .menu::after {
				background: $white-65;
			}
		}
	}
	nav.dark {
		li.active {
			a {
				fill: $featurebg;
				color: $featurebg;
			}
		}
	}


// Media queries
// ------------------------------------------------------------
//
	@media screen and (min-width: $max-width+1) {
		nav {
			li.nava {
				left: 6%;
			}
		}
	}
	@media screen and (max-width: 1023px) {
		nav {
			li {
				@include margin-x(24px);
			}
		}
	}
	@media screen and (max-width: 959px) {
		nav {
			position: fixed;
			li {
				@include margin-x(18px);
			}
			li.social {
				margin: 0 0 0 12px;
			}
		}
		nav.sticky {
			top: 0;
			z-index: 95;
		}
	}
	@media screen and (max-width: 880px) {
		nav {
			li.social {
				position: absolute;
				top: 114px;
				right: 5.5%;
				@include fadeinleft;
				a {
					height: 66px;
					padding-top: 30px;
				}
				&:last-of-type {
					top: 180px;
				}
			}
		}
		nav.sticky {
			li.social {
				display: none;
			}
		}
	}
	@media screen and (max-width: 720px) {
		nav {
			li.social {
				position: relative;
				top: auto;
				right: auto;
				a {
					height: 102px;
					padding-top: 66px;
				}
			}
			li.social:last-of-type {
				top: auto;
			}
			li.navb, li.navc, li.navd {
				span:first-of-type {
					display: none;
				}
				span:last-of-type {
					display: block;
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		nav {
			height: 48px;
			font-size: 14px;
			@include trans(0.4s);
			li {
				margin: 0 3.5%;
				&:hover {
				}
			}
			li.active {
				a {
					&:hover {
						@include treset;
					}
				}
			}
			li.social {
				position: absolute;
				top: 78px;
				right: 5.5%;
				a {
					height: 66px;
					padding-top: 30px;
				}
			}
			li.social:last-of-type {
				top: 142px;
			}
			a {
				height: 72px;
				padding: 42px 0 18px 0;
				&:hover {
					@include treset;
				}
				&:active {
					@include treset;
				}
			}
			li.nava {
				width: 48px;
				height: 72px;
				a {
					padding-top: 40px;
					font-size: 24px;
				}
				.lastname, h5 {
					display: none;
				}
			}
			li.nava.full {
				&:hover, &.hover {
					width: 48px;
					padding-right: 0;
					.initials {
						div {
							&:first-of-type, &:last-of-type {
								width: 0;
							}
						}
					}
				}
			}
		}
		nav.sticky {
			height: 48px;
			@include trans(0.4s);
			a {
				height: 48px;
				padding: 20px 0 16px 0;
			}
			ul {
				height: 48px;
			}
			li {
				margin: 0 3.5%;
			}
			li.social {
				display: none;
			}
			li.nava {
				width: 48px;
				height: 48px;
				margin: 0;
				a {
					font-size: 24px;
					height: 48px;
					padding-top: 19px;
				}
				&:hover, &.hover {
					width: 48px;
					padding-right: 0;
					.initials {
						div {
							&:first-of-type, &:last-of-type {
								width: 0;
							}
						}
					}
				}
				&.hover {
				}
			}
		}
		.arrowbar {
			height: 0;
		}
		.arrow, .arrowb, .arrowc {
			@include tmove(0, -27px);
		}
	}
	@media screen and (max-width: 420px) {
		nav {
			li.nava {
				left: 6%;
			}
			li.social {
				top: 72px;
			}
			li.social:last-of-type {
				top: 130px;
			}
		}
	}
