doctype html
html
	head
		title Addicaid About
		include ../../components/head

	body.sub
		.twrap
			a#sub
			include ../../components/nav
			include ../../pages/stuff
			include ../../components/footer
		include ../../components/base

	include ../../components/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/subpage.js")
	script(src="https://js.stripe.com/v3/")
