

// Visuals styles
// ------------------------------------------------------------
//
	.visual {
		position: relative;
		z-index: 3;
		@include leader(3);
		@include trailer(3);
		@include trans(0s);
		img, video {
			position: relative;
			z-index: 9;
			width: 100%;
			max-width: 1280px;
			height: auto;
			@include noselect;
			@include trans(0.5s);
		}
		.shot {
			position: relative;
			width: 100%;
			margin: auto;
			overflow: hidden;
		}
		.browser {
			max-width: 1282px;
			margin: auto;
		}
		#video {
			cursor: pointer;
		}
	}
	.visual.single {
		.browser {
			width: 90%;
			max-width: 802px;
		}
		.shot {
			width: 90%;
			img, video {
				max-width: 800px;
			}
		}
		.shot.small {
			img, video {
				max-width: 660px;
			}
		}
	}
	.visual.two-col {
		.shot {
			width: 48.5%;
			display: inline-block;
			vertical-align: top;
			&:first-of-type {
				margin-right: 3%;
				text-align: right;
			}
			&:nth-of-type(2) {
				text-align: left;
			}
		}
		.shot.small {
			img, video {
				max-width: 540px;
			}
		}
		.shot.last {
			@include leader(-10);
			max-width: 400px;
		}
		.browser {
			width: 48.5%;
			display: inline-block;
			vertical-align: top;
			&:first-of-type {
				margin-right: 3%;
			}
		}
	}
	.visual.gap {
		@include padding-leader(4);
	}
	.visual.multiphone {
		position: relative;
		white-space: nowrap;
		.phone {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 348px;
			min-width: 0;
			max-width: none;
			margin-right: 2%;
			&:nth-of-type(1) {
				z-index: 3;
			}
			&:nth-of-type(2) {
				z-index: 2;
			}
			&:nth-of-type(3) {
				z-index: 1;
				margin-right: 0;
			}
		}
		.frame {
			position: relative;
			@include border(1px, $dark-l);
			img, video {
				width: 100%;
			}
		}
		.frame.scroll {
			overflow-y: scroll;
			height: 568px;
		}
		.frame.scroll.app {
			overflow: hidden;
		}
		img.header {
			position: absolute;
			z-index: 10;
			top: 79px;
			left: 13px;
			width: 320px;
			height: auto;
		}
	}


// Media queries
// ------------------------------------------------------------
//
	@media screen and (max-width: 1200px) {
		.visual.single {
			.shot, .browser {
				width: 85%;
				max-width: 682px;
			}
		}
		.visual.gap {
			@include padding-leader(2.5);
		}
		.visual.multiphone {
			.phone {
				width: 348px;
				margin-right: -2%;
			}
			.frame.scroll {
				height: 568px;
			}
			img.header {
				top: 79px;
				left: 13px;
				width: 320px;
			}
		}
	}
	@media screen and (min-width: 960px) and (max-width: 1080px) {
		.visual.multiphone {
			.phone {
				width: 276px;
				margin-right: 2%;
				padding: 0 9px;
			}
			.frame.scroll {
				height: 450px;
			}
			img.header {
				top: 79px;
				left: 10px;
				width: 254px;
			}
		}
	}
	@media screen and (max-width: 959px) {
		.visual.two-col, .visual.single {
			.shot, .browser {
				display: block;
				width: 85%;
				margin: auto;
				&:first-of-type {
					margin: auto;
					@include trailer(4);
				}
				&:last-of-type {
					@include trailer(0);
				}
			}
			.shot.last {
				max-width: 540px;
				@include leader(4);
			}
			.shot {
				max-width: 640px;
			}
			.browser {
				max-width: 642px;
			}
		}
		.visual.two-col {
			.shot {
				&:first-of-type, &:nth-of-type(2) {
					@include margin-x(auto);
					text-align: center;
				}
			}
		}
		.visual.quad {
			@include padding-leader(1);
		}
		.visual.multiphone {
			left: -5%;
			width: 110%;
			.phone {
				margin-right: 3.5%;
				&:nth-of-type(2) {
					margin-right: 0;
				}
				&:nth-of-type(3) {
					display: none;
				}
			}
		}
		.visual.multiphone.triphone {
			.phone {
				&:nth-of-type(3) {
					display: block;
					z-index: 4;
					margin: auto;
					@include leader(-5.5);
				}
			}
		}
	}
	@media screen and (min-width: 641px) and (max-width: 720px) {
		.visual.multiphone {
			.phone {
				width: 276px;
				margin-right: 3.5%;
				padding: 0 9px;
			}
			.frame.scroll {
				height: 450px;
			}
			img.header {
				top: 79px;
				left: 10px;
				width: 254px;
			}
		}
	}
	@media screen and (max-width: 640px) {
		.visual {
			@include leader(1.5);
			@include trailer(1.5);
		}
		.visual, .visual.single, .visual.two-col, .visual.vport {
			.browser, .shot {
				left: -6%;
				width: 112%;
			}
			.shot.small, .shot.last {
				left: 0;
				width: 90%;
			}
		}
		.visual.two-col, .visual.single {
			.shot, .browser {
				&:first-of-type {
					@include trailer(2.5);
				}
			}
			.shot.last {
				@include leader(2.5);
			}
		}
		.visual.gap {
			@include padding-leader(5);
		}
		.visual.zoom, .visual.premier {
			.browser {
				background: $white;
				@include trans(0.5s);
				@include animateinf(2.1s);
				@include ttiming(ease-out);
				@include browserzoom;
			}
			.shot {
				@include trans(0.5s);
				@include animateinf(2.1s);
				@include ttiming(ease-out);
				@include shotzoom;
			}
		}
		.visual.vzoom {
			.browser, .shot {
				overflow-x: visible;
				@include animatereset(0s);
			}
			.browser {
				box-shadow: 0 -24px rgba($black, 0.05), 0 27px rgba($black, 0.05);
			}
			.shot {
				box-shadow: 0 -24px rgba($black, 0.05), 0 27px rgba($black, 0.05), 0 0 0 1px $black-15;
			}
			img {
				width: 200%;
				height: auto;
			}
			.browser .top {
				width: 200%;
			}
		}
		.visual.premier {
			.shot {
				left: -20%;
				width: 140%;
			}
		}
		.visual.premier.vzoom {
			.shot {
				left: -6%;
				width: 112%;
			}
		}
		.visual.multiphone {
			left: -10%;
			width: 120%;
			.phone {
				width: 258px;
				margin-right: 4%;
				padding: 0 7px;
			}
			.frame.scroll {
				height: 408px;
			}
			img.header {
				top: 45px;
				left: 8px;
				width: 240px;
			}
		}
	}
	@media screen and (max-width: 516px) {
		.visual.multiphone {
			.phone {
				margin-right: -2.5%;
			}
		}
	}
	@media screen and (max-width: 480px) {
		.visual.multiphone {
			.phone {
				width: 50%;
				margin-right: -4%;
			}
			.frame.scroll {
				height: 360px;
			}
			img.header {
				display: none;
			}
		}
	}
	@media screen and (max-width: 420px) {
		.visual.premier {
			.shot {
				left: -25%;
				width: 150%;
			}
		}
		.visual.multiphone {
			.phone {
				padding: 0 6px;
				.frame.scroll {
					height: 318px;
				}
			}
		}
	}
	@media screen and (max-width: 360px) {
		.visual.multiphone {
			.phone {
				padding: 0 5px;
				.frame.scroll {
					height: 282px;
				}
			}
		}
	}
	@media screen and (max-height: 900px) {
		.visual.vport {
			.shot {
				img, video {
					max-width: 1200px;
				}
			}
			.browser {
				max-width: 1142px;
			}
		}
	}
	@media screen and (max-height: 780px) {
		.visual.vport {
			.shot {
				img, video {
					max-width: 1080px;
				}
			}
			.browser {
				max-width: 1026px;
			}
		}
	}
