

// Color palette
// ------------------------------------------------------------
//
	// primary
		$primary						: #20c9cf;
		$primary-l						: #47d5f7;
		$primary-ll						: #85e7ff;
		$primary-d						: #12b2b8;
		$primary-dd						: #3282c5;
		$primary-n						: rgba($primary, 0);

	// secondary
		$secondary						: #ffe335;
		$secondary-l					: #ffe335;
		$secondary-ll					: #ffe335;
		$secondary-d					: #ffe335;
		$secondary-n					: rgba($secondary, 0);
		// $secondary						: #d7dc4c;

	// tertiary
		$brick							: #f6524d;
		$brick-n						: rgba($brick, 0);

		$cobalt							: #3282c4;
		$cobalt-n						: rgba($cobalt, 0);

		$teal							: #62c4a7;
		$teal-n							: rgba($teal, 0);

		$navy							: #002e5b;


// Alternative colors
// ------------------------------------------------------------
//
	// cream
		$cream							: #ffeee5;
		$cream-l						: #fff8f4;
		$cream-d						: #f6ddd0;
		$cream-n						: rgba($cream, 0);

		$dcream							: #a78474;
		$dcream-l						: #dbc6ba;
		$dcream-d						: #c57c50;
		$dcream-n						: rgba($dcream, 0);

	// orange
		$orange							: #ff6300;
		$orange-l						: #ff4b06;
		$orange-d						: #8e3411;
		$orange-n						: rgba($orange, 0);
		$orangeb						: #ff4b06;

	// blue
		$blue							: #005fc7;
		$blue-l							: #0047bb;
		$blue-d							: #003282;
		$blue-n							: rgba($blue, 0);
		$blueb							: #0047bb;

	// fade
		$orange-f						: #ff5040;
		$purple-f						: #8456bf;
		$lorange-f						: #ff8a80;
		$lpurple-f						: #be8cff;
		$cream-f						: #f2e9df;
		$dcream-f						: #b8aea5;

	// generic
		$gred							: #f62f5d;
		$gred-n							: rgba($gred, 0);
		$gblue							: #3592a7;
		$gblue-n						: rgba($gblue, 0);
		$ggreen							: #3dba56;
		$ggreen-n						: rgba($ggreen, 0);
		$gyellow						: #ffe335;
		$gyellow-n						: rgba($gyellow, 0);
		$gorange						: #fb473a;
		$gorange-n						: rgba($gorange, 0);


// Base scales
// ------------------------------------------------------------
//
	// light & dark
		$light							: #edf4f5;
		$light-l						: #fff;
		$light-d						: #c6cbcc;
		$light-n						: rgba($light, 0);

		$dark							: #666;
		$dark-l							: #999;
		$dark-d							: #333;
		$dark-n							: rgba($dark, 0);

	// black & white
		$black							: #000;
		$white							: #fff;

		$black-95						: rgba($black, 0.95);
		$black-9						: rgba($black, 0.9);
		$black-85						: rgba($black, 0.85);
		$black-8						: rgba($black, 0.8);
		$black-75						: rgba($black, 0.75);
		$black-7						: rgba($black, 0.7);
		$black-65						: rgba($black, 0.65);
		$black-6						: rgba($black, 0.6);
		$black-55						: rgba($black, 0.55);
		$black-5						: rgba($black, 0.5);
		$black-45						: rgba($black, 0.45);
		$black-4						: rgba($black, 0.4);
		$black-35						: rgba($black, 0.35);
		$black-3						: rgba($black, 0.3);
		$black-25						: rgba($black, 0.25);
		$black-2						: rgba($black, 0.2);
		$black-15						: rgba($black, 0.15);
		$black-1						: rgba($black, 0.1);
		$black-08						: rgba($black, 0.08);
		$black-07						: rgba($black, 0.07);
		$black-06						: rgba($black, 0.06);
		$black-05						: rgba($black, 0.05);
		$black-0						: rgba($black, 0);

		$white-95						: rgba($white, 0.95);
		$white-9						: rgba($white, 0.9);
		$white-85						: rgba($white, 0.85);
		$white-8						: rgba($white, 0.8);
		$white-75						: rgba($white, 0.75);
		$white-7						: rgba($white, 0.7);
		$white-65						: rgba($white, 0.65);
		$white-6						: rgba($white, 0.6);
		$white-55						: rgba($white, 0.55);
		$white-5						: rgba($white, 0.5);
		$white-45						: rgba($white, 0.45);
		$white-4						: rgba($white, 0.4);
		$white-35						: rgba($white, 0.35);
		$white-3						: rgba($white, 0.3);
		$white-25						: rgba($white, 0.25);
		$white-2						: rgba($white, 0.2);
		$white-15						: rgba($white, 0.15);
		$white-1						: rgba($white, 0.1);
		$white-05						: rgba($white, 0.05);
		$white-0						: rgba($white, 0);


// Contextual variables
// ------------------------------------------------------------
//
	// backgrounds
		$bodybg							: $white;
		$bodybg-l						: rgba($white, 0.925);
		$bodybg-d						: $white-75;
		$bodybg-n						: $white-0;

		$featurebg						: $primary;
		$featurebg-l					: $primary-l;
		$featurebg-d					: $primary-d;
		$featurebg-f					: $primary-dd;
		$featurebg-n					: rgba($featurebg, 0);

