

// UI styles
// ------------------------------------------------------------
//
	a, a img {
		text-decoration: underline;
		cursor: pointer;
		color: $primary;
		@include trans(0.3s);
		&:hover {
			color: $primary-l;
			@include trans(0.15s);
		}
		&:active {
			color: $primary-d;
			@include trans(0.075s);
		}
		&.disabled {
			cursor: default;
		}
	}
	.button {
		display: inline-block;
		height: 72px;
		@include padding-x(48px);
		@include lineh(6);
		@extend .caps;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		color: $white;
		border-radius: 2px;
		background: $primary;
		// @include gradient-hor(lighten($primary, 0%), lighten($primary, 20%))
		@include noselect;
		&:hover {
			color: $white;
		}
		&:active, &.active {
			color: $white;
		}
	}
	.button.disabled {
		cursor: default;
		font-weight: 500;
		opacity: 0.3;
		&:hover, &:active, &.active {
			color: $white;
			background: $primary;
			// box-shadow: inset 0 0 0 1px $primary, inset 0 0px $white, 0 0px $primary;
			@include tmove(0, 0);
		}
	}
	.applink {
		width: 165px;
		height: 40px;
		&.apple {
			background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
		}
		&.google {
			background: url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Get_it_on_Google_play.svg) no-repeat;
		}
	}


// Media queries
// ------------------------------------------------------------
//
	@media screen and (max-width: 640px) {
		.button {
			height: 54px;
			@include padding-x(24px);
			@include lineh(4.5);
			font-size: 14px;
			&:hover {
				box-shadow: inset 0 0 0 1px $primary, inset 0 54px $white, 0 3px $primary;
				@include tmove(0, -3px);
			}
			&:active, &.active {
				box-shadow: inset 0 0 0 1px $primary, inset 0 54px $white-8, 0 -3px $primary;
				@include tmove(0, 1px);
			}
		}
	}
