
block header.
	header.hide.about
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/projects/logo.jpg")
			.title
				span#title(data-speed="2.85")
					h2 Score massive socioeconomic benefits by spreading targeted behavior change services to the masses.
		.fade
		.slide
	.push#push

block content
	section.content#content
		.head
			h5 I express myself
		.overview
			.detail.two-col
				p.large Identity is a powerful thing. A distinct, authentic personality that flows out of even the tiniest details of a product is what brings it to life and makes people believe in it. A &ldquo;clean, usable interface&rdquo; is only the bare minimum of what a designer can do.
				p.large A designer who creates a truly unique identity and applies it practically across a vast digital platform needs creative firepower, seasoned design ability, and eagerness to get their hands dirty in development. I&rsquo;ve worked relentlessly to become that designer.
			p.lead But there&rsquo;s a couple important things to understand...
		.point
			h5.lead As you may have noticed...
			h2 Some of my work is a little crazy, but always <em>thoughtfully</em> so.
			p There&rsquo;s a time and place for everything. I understand where a more creative, even &lsquo;crazy&rsquo; approach has the potential to achieve project goals in a way nothing else could. I also understand where it&rsquo;s a completely pointless waste of time while something much more simple would&rsquo;ve done just as well.
			p So no, I don&rsquo;t try to do something completely outside of what people are used to with every project, in fact I still enjoy design that needs a more practical focus, and I intend to continue doing that type of work as well.
			p I will admit however, I certainly have a history of intentionally seeking out projects where that more creative, crazy approach is exactly what&rsquo;s needed. That&rsquo;s just my personal creative drive, it&rsquo;s been a part of me as long as I can remember and it wakes up with me every day.
block feature
	section.feature.white#feature
		.head.alt
			h5 We're addicts, experts &amp; empathizers 
		ul.cred.team
			li

				a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
					img(src="/_img/team/0.jpg")
				//-  Sam Frons
			li
				a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
					img(src="/_img/team/1.jpg")
			li
				a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
					img(src="/_img/team/2.jpg")
			li
				a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
					img(src="/_img/team/3.jpg")
			li
				a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
					img(src="/_img/team/4.jpg")

			li
				a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
					img(src="/_img/team/10.jpg")
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/team/5.jpg")
			li
				a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
					img(src="/_img/team/6.jpg")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/team/7.jpg")
			li
				a#newslink
					img(src="/_img/team/8.jpg")
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/team/9.jpg")

