block header
    header.approach
        .wrap
            .logo
                span#logo(data-speed="5.55")
                    
            .titled
                span#title(data-speed="2.85")
                    
                    h3.left.headh <span class="block blue">Whatever steps you want to take</span>, we can get there, alone or together. 
                    //- //- h3.left.headh From rock bottom to moment of clarity, here's 12 sets of over 12<span class="block blue">steps for everybody.</span> to a higher ground <span class="block blue">
                    //- We're creating technology-enabled services that give good Samaritans the ability to support those who struggle most in society. Pavlov's dog allowedIf you’re treating yourself, getting help for someone else, or already in a support group,
        .fade
        .slide
    .push#push
//- include ../modules/set1 starting from the ground up
//- include ../modules/set2 
block feature
    section.feature.white#feature
        .head.alt.mt30
            h5.pb20
        

        a(href="mailto:info@addicaid.com", target="_blank" class="btn centerma mt20 inline") contact us