
block header.main
	object(type="image/svg+xml",data="index.svg")
	header.hide.main
		.wrap.hide
			.tagline#tagline(data-speed="3")
				span
					//- h3.headh  We are a behavior change company that <span class="underline">combats addiction</span> with technology, tradition &amp; community support. imost advanced addiction care n the known universe Introducing the next generation of addiction care., protect yourself from yourself There's many ways to protect ourselves from addiction. the most advanced ways to fight addiction &amp prevent self-destruction. Introducing the most advanced line of defense to protect people from addiction. The road to recovery is complex &amp; long.
					
					h3.headh Introducing the most advanced A.I-driven line of defense to protect people from addiction.
					h3 <span class="underline"> get aid</span> | <span class="underline"> give aid</span> | <span class="underline"> spread aid</span>
					//- h3.headh <span class="underline"> spread aid</span>
					//- <span class="underline"> Take the high</span> with the next 
	.push#push



block content

	section.content.grid.pb0.pt0
		.cwrap.cright.usfa.plusm
			div.usa
				//- span.death.ani-rl
				
				
			.point.pt0
				h5.lead.usa take your pick &amp; form your own<b>complete care team.</b>
				<span class="block line y23 open-purshase-modal">No more hassle, minimal harm, maximum incentives .</span>
				p.small.t-left.p30.normm.mb10 This way, learn life or death lessons faster. Substract unnecessary routines and rote exercises that don't apply to your unique blend of self-destruction. Get more of what you need out of recovery for a special price from now until Halloween because this is new &amp; we value you.
					span.underline.m30.strong.open-purshase-modal.mb0.pb0.btn Do Pal's plan
					span.underline.m30.strong
					.open-purshase-modal.mb0.pb0.btn Get Mo's plan
					span.underline.m30.strong
					.open-purshase-modal.mb0.pb0.btn Start So's plan
					span.underline.m30.strong
					.open-purshase-modal.mb0.pb0.btn Get Hedy's help
					//- .open-purshase-modal.mb0.pb0.btn Get a <span class="strike">1 month</span> 3 plan 
					
					
				//- <span style="text-decoration: none; display: inline;">Getting it for someone else? <span></span></span> Have a dedicated chatbot crew help navigate you through a support system &amp; daily strategy. A social app, custom AI-bot &amp; a USB fanny pack. Smarter, more reliable resources &amp; support. <br>
				
				//- a(href="https://itunes.apple.com/us/app/addicaid-addiction-recovery/id847509209?mt=8").btn.mt20 Try it now

				
				//- p.smaller.t-left.p30 Fanny packs on the house*
				//- p.smaller.t-left.p30 For yourself or invite someone else or click here if you manage population health.
				//- p.smaller.t-left.p30 Send as a gift or be a sponsor for a member who needs it
				//- span.underlne.m30.strong.open-purshase-modal Give<span class="strike">1 month</span> 3 month package
				//- h2 <span class="block line y2"><a class="c-grey open-purshase-modal">get <span style="font-family: damion; font-size: 30px;">A+</span> for less <span style="font-family: damion; font-size: 30px;">$.</span></a></span>
				

				

	section.content#content
		.cwrap.cright.usfa
			div.usa
				span.death
				span.fencer
				//- drawing here the index.svg
			.point

				h5.lead.usa We are all<b>victims of addiction</b>
				h2 Together, we're fending off <span class="block hlink"><a class="hhl" href="https://www.cbsnews.com/news/overdoses-are-leading-cause-of-death-americans-under-50/" target="_blank">the #1 cause of accidental death.</a></span>
				p.small What was once a quiet epidemic has quickly become the #1 national health emergency, with overdoses doubling since 2000, and now, addiction is the #1 cause of death in Americans under 50. Less than 10% of the 24 million Americans who need help ever get it, and we believe the first step is stigma-free education and access to addiction services. 

				p.small Addicaid's A.I-driven addiction services ecosystem that streamlines the needs of people looking to help themselves or looking to help others with a personalized, ideologically frictionless recovery app paired with engagement solutions for any professional looking to enhance the delivery of care. 



		.solution-join-title
			h3.mb20.narrow.nbig Join over <bold>42,776 others</bold> who are getting and giving the help they need to live healthily, strengthen their recovery, and/or support those in need.
			div.mb10
				a(href="https://itunes.apple.com/us/app/addicaid-addiction-recovery/id847509209?mt=8").btna
					img(src="/_img/ios.svg" class="img-app")
				a(href="https://play.google.com/store/apps/details?id=com.addicaid.app&hl=en_GB").btna
					img(src="/_img/play.svg" class="img-app")



		include ../modules/solution



section.content.cases
	.head.solution-title.mb20
		h5 cases | outcomes | interviews
	.center.pant1
		
		.module
			.info.more.fl
			
				div.mask
					a(href="http://www.hbs.edu/faculty/Pages/item.aspx?num=51886", target="_blank" class="c-grey")
						img(src="/_img/scale.jpg" width="100%" class="left szoom")
				
				h5.tag 
					a(href="http://www.hbs.edu/faculty/Pages/item.aspx?num=51886", target="_blank" class="c-grey") HBS | Case study 
				h3 
					a(href="http://www.hbs.edu/faculty/Pages/item.aspx?num=51886", target="_blank" class="c-grey")<span class="activate"> How to scale digital</span> <span class="activate">health therapeutics</span>
				//- a.btn#navlink(url="https://hbr.org/product/addicaid-scaling-a-digital-platform-for-addiction-wellness-and-recovery/617018-PDF-ENG") Read it
		.module
			
			.info.more.fl
				
				div.mask
					a(href="https://drive.google.com/file/d/0B8BG-spYhTtMNlZCZGgxbzQ2VWM/view?usp=sharing", target="_blank" class="c-grey")
						img(src="/_img/hit.jpg" width="100%" class="left szoom")
				h5.tag Outcomes report | NYCEDC + HITLAB
				h3 
					a(href="https://drive.google.com/file/d/0B8BG-spYhTtMNlZCZGgxbzQ2VWM/view?usp=sharing", target="_blank" class="c-grey") <span class="activate">How usable is Addicaid's</span> <span class="activate">support service</span>
				
				//- a.btn#navlink(data-pathname="providers") Read it
		.module
			
			.info.more.fl
				div.mask
					a(href="cnn.com/videos/cnnmoney/2017/04/24/reprogramming-addiction.cnn", target="_blank" class="c-grey")
						img(src="/_img/cnn.jpg" width="100%" class="left szoom")
				h5.tag CNN Money | Video segment
				h3 
					a(href="cnn.com/videos/cnnmoney/2017/04/24/reprogramming-addiction.cnn", target="_blank" class="c-grey") <span class="activate">Why we want to</span> <span class="activate">reprogram our brains</span>
				
				//- a.btn#navlink(data-pathname="providers") See it
//- section.content.cases
//- 	.head.solution-title.mb20
//- 		h5 reviews
//- 	.center.pant1.container1
//- 		div.four.person.wplus
//- 			h6.title Great
//- 			h3.header.mb2 
//- 				<span class="line">The best recovery app.
//- 			p.body 
//- 			h4.folink - Username



section.logos
	img(src="/_img/logos.png" width="100%" class="dhide")
	img(src="/_img/logosm.png" width="60%" class="mshow") 

section.content.cases
	.head.solution-title.mb20
		h5 company news
	.center.pant1.container1
		div.four.person.wplus
			h6.title Conference
			h3.header.mb2 
				a(href="https://www.apha.org", target="_blank" class="c-grey") <span class="activate">Addicaid outcomes report presentation</span><span class="activate"></span>
			p.body 
			h4.folink American Public Health Association

		div.four.person
			h6.title Awards
			h3.header.mb2 
				a(href="http://www.huffingtonpost.com/entry/58ac8660e4b0acc17645d7ce", target="_blank" class="c-grey") <span class="activate"> Google.ai women's startup</span> <span class="activate">challenge winner</span>
			p.body 
			h4.folink huffington post

		div.four.person
			h6.title Panel
			h3.header.mb2
				a(href="http://events.hitlab.org/2017symposium", target="_blank" class="c-grey") 
					<span class="activate">Making the most of your healthtech pilots</span> 
					
			//- p.body general specialist in design technology, systems science
			h4.folink HITLAB | Novo Nordisk Symposium

		div.four.person
			h6.title Press
			h3.header.mb2
				a(href="https://www.technyc.org/posts/2017/9/20/five-new-york-tech-companies-to-watch-september-2017", target="_blank" class="c-grey") 
					<span class="activate">5 Social impact startups to watch</span> 
			//- p.body general specialist in design technology, systems science
			h4.folink technyc.org



		a(href="mailto:info@addicaid.com", target="_blank" class="btn centerma mt20") contact us
		a.btn.centerma.mt20(data-pathname="about") about us
	.head.solution-title.mt30.swa
		
		h5 roundabout steps
		p.sub Here's a sampling of slogans we use to stay away from the downward spiral of our unique blend of self-destruction.
			
		//- he core pillars of that are community, evovling technology, &amp; psychoeducation.

		div#wrapper
			.head.alt
			h4.big here's some of our suggestions on how to stop this vicious cycle 
		
	
			div.circle-container
					div.circle
						p do the steps or take the electric stairs
					div.circle
						p guard your life in groups
					div.circle
						p take care of your cpu
					div.circle
						p fill the void &amp; clear your head
					div.circle
						p always be book worming
					div.circle
						p get zen, whatever works. 
					div.circle
						p power through the hard stuff
					div.circle
						p track metrics that matter
	
	.center.pant1

//- div.dog
//- 	img(src="/_img/j.jpg" class="jdog")

//- block feature
	section.feature.white.p-b-0#feature
		
		.head.alt
			h5 Featured in
		ul.cred.small
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/logos/press/1.png")
			li
				a(href="http://events.hitlab.org/2017symposium", target="_blank")
					img(src="/_img/logos/press/2.png")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/logos/press/3.png")
			li
				a#newslink
					img(src="/_img/logos/press/4.png")
			br
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/logos/press/5.png")
			li
				a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
					img(src="/_img/logos/press/6.png")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/logos/press/7.png")
			li
				a(href="http://statescoop.com/smart-city-and-health-startups-abound-at-1776-fellowship", target="_blank")
					img(src="/_img/logos/press/8.png")

include ../modules/pay