
block header
	header.hide
		.wrap.hide
			.tagline#tagline(data-speed="3")
				span
					h1 A behavior change company
					h1 that <span class="block">combats addiction</span> with
					h1 <span class="line">A.I.-enhanced</span> solutions.
	.push#push

block content
	section.content#content
		.cwrap.cright
			.point
				h5.lead Addiction is <b>everyone&rsquo;s problem</b>
				h2 We&rsquo;re taking on the <span class="line">#1 cause</span> of <span class="block c-white">accidental death</span> in the U.S.
				p.small Though we want to reeducate the entire world on the concept of addiction while we&rsquo;re at it. Addiction is a learning disability, resorting to the same actions over and over even though they actively work against one best interest. Based on specific needs, thought patterns, and activity, Addicaid assists you in cultivating a personalized recovery strategy, clearing the path to identify, iterate, and achieve long-term goals.
		include ../modules/solution
		include ../modules/people
		include ../modules/providers
		.head
			h5 Also check out...
		include ../modules/approach

block feature
	section.feature.white#feature
		.head.alt
			h5 Supported by
		ul.cred.small
			li
				a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
					img(src="/_img/logos/1.png")
			li
				a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
					img(src="/_img/logos/2.png")
			li
				a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
					img(src="/_img/logos/3.png")
			li
				a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
					img(src="/_img/logos/4.png")

			li
				a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
					img(src="/_img/logos/10.png")
			br
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/logos/5.png")
			li
				a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
					img(src="/_img/logos/6.png")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/logos/7.png")
			li
				a#newslink
					img(src="/_img/logos/8.png")
		
		.head.alt
			h5 Featured in
		ul.cred.small
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/logos/press/1.png")
			li
				a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
					img(src="/_img/logos/press/2.png")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/logos/press/3.png")
			li
				a#newslink
					img(src="/_img/logos/press/4.png")
			br
			li
				a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
					img(src="/_img/logos/press/5.png")
			li
				a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
					img(src="/_img/logos/press/6.png")
			li
				a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
					img(src="/_img/logos/press/7.png")
			li
				a(href="http://statescoop.com/smart-city-and-health-startups-abound-at-1776-fellowship", target="_blank")
					img(src="/_img/logos/press/8.png")
			
