
block header
	header.solution
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/projects/logo.png")
			.titled
				span.herotxt.left(data-speed="2.85")
					h3.left.headh We connect people &amp; organizations to the services &amp; support they need to succeed.
		.slide
	.push#push

block content

	section.content#content
		.head.solution-title

		//.cwrap.cright
			img(src="/_img/pics/sp1.jpg" class="abso")
			img(src="/_img/mock/s1-1.jpg" class="abso-s")
			.point
				h5.lead Starting the solution <b>before problems flare up</b>
				h2 Orienting and educating communities on risks and relevant sources 
				p.small This full-service student life resource will support, educate, and improve their college experience socially, academically, and personally. It’s accessible, around-the-clock support that’s judgement-free and caters to <b>students, staff &amp; faculty.</b>
		
		include ../modules/people
		include ../modules/providers

	//- section.content#content
	//- 	.cwrap.cleft.point.pb0.w100
	//- 		h5.lead Engage anyone who thinks addiction where they are
	//- 		h2 Orienting and educating <span class="line">communities</span> on risks and relevant sources
	//- 		p.normal This full-service student life resource will support, educate, and improve their college experience socially, academically, and personally. It’s accessible, around-the-clock support that’s judgement-free and caters to <b>students, staff &amp;faculty.</b>
	//- 		.overview.pt0
	//- 			.detail.two-col
	//- 				p.normal Identity is a powerful thing. A distinct, authentic personality that flows out of even the tiniest details of a product is what brings it to life and makes people believe in it. A &ldquo;clean, usable interface&rdquo; is only the bare minimum of what a designer can do.
	//- 				p.normal A designer who creates a truly unique identity and applies it practically across a vast digital platform needs creative firepower, seasoned design ability, and eagerness to get their hands dirty in development. I&rsquo;ve worked relentlessly to become that designer.
	//- 				p.lead But there&rsquo;s a couple important things to understand...

