block header
    header.plans
        .wrap
            .logo
                span#logo(data-speed="5.55")
                    img(src="/_img/projects/logo.jpg")
            .titled
                span#title(data-speed="2.85")
                    h3.left.headh Whether you're helping yourself, someone else, or managing entire population health,<span class="block blue">we got special plans for you.</span> 
                    //- We're creating technology-enabled services that give good Samaritans the ability to support those who struggle most in society. Pavlov's dog allowedIf you’re treating yourself, getting help for someone else, or already in a support group,
        .fade
        .slide
    .push#push
include ../modules/planapp
include ../modules/specials
include ../modules/pay
block feature
    section.feature.white#feature
        .head.alt.mt30
            h5.pb20
        

        a(href="mailto:info@addicaid.com", target="_blank" class="btn centerma mt20 inline") contact us
