doctype html
html
	head
		title Addicaid Approach
		include ../../components/head

	body.sub
		.twrap
			a#sub
			include ../../components/nav
			include ../../pages/approach
			include ../../components/footer
		include ../../components/base

	include ../../components/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/subpage.js")