// UI styles
// ------------------------------------------------------------
//
header {
background: url(../_img/bks/rgm-head.png);
background-size: cover;
opacity: 1;
}

header.about {
background: url(../_img/bks/about.jpg);
background-size: cover;
opacity: 1;
}

header.solution {
background: url(../_img/bks/solution2.jpg);
background-size: cover;
opacity: 1;
}

header.approach {
background: url(../_img/bks/approach.jpg);
background-size: cover;
background-position: right top;
opacity: 1;
}

.white {
	background: white !important;
}

.c-white {
	color: white;
}


.hide {
	display: none !important;
}


.small img {
	height: 500px !important;
	background: transparent;
	border-radius: 0;
	border: none;
	width: 100%;
}

section.content .module .info.more h6 {
	background: transparent;
	color: #d2d2d2
}