// UI styles
// ------------------------------------------------------------
//
header {
background: url(../_img/bks/rgm-head.png);
background-size: cover;
opacity: 1;
}

header.about {
background: url(../_img/bks/about.jpg);
background-size: cover;
    background-position: center bottom;
opacity: 1;
}

header.solution {
background: url(../_img/bks/solution2.jpg);
background-size: cover;
opacity: 1;
}

header.approach {
background: url(../_img/bks/approach.jpg);
background-size: cover;
background-position: right top;
opacity: 1;
}

.img_s img {
	width: 400px;
	height: auto;
}

.white {
	background: white !important;
}

.c-white {
	color: white;
}


.hide {
	display: none !important;
}


.small img {
	height: 500px !important;
	background: transparent;
	border-radius: 0;
	border: none;
	width: 100%;
}

section.content .module .info.more h6 {
	background: transparent;
	color: #d2d2d2
}

.herotext {
	text-align: left;
}

section {
	padding-top: 0px;
}

.left {
	float: left;
}
section.content .cwrap.modulebg {
	margin-top: 0px;
}

img.abso {
	position: absolute;
    left: 4%;
    height: 400px;
    top: 25%;
    box-shadow: 0px 1px 9px rgba(0,0,0,.2);
}

.bs {
	box-shadow: 0px 1px 9px rgba(0,0,0,.2);
}

img.abso-s {
    position: absolute;
    left: 21%;
    height: 400px;
    top: 37%;
    box-shadow: 0px 1px 9px rgba(0,0,0,.2);
}

img.abso.r {
	right: -50%;
	left: initial;
	height: 350px;
	z-index: -2;
	box-shadow: 0px 1px 9px rgba(0,0,0,.2);
}